# Week 1 Challenge Project
This is the complete notebook, which includes both the data cleaning and visualization section released on Day 2, and additional guidelines for model creation and evaluation. If you were already working on the notebook from before, you may have to copy your work over.

At the end of this notebook, there is also a description of how to finalize and present your project.

## Challenge Introduction

> Original author: Lyle Lalunio

Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone. It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goitre. Untreated hypothyroidism during pregnancy can lead to delays in growth and intellectual development in the baby or cretinism.

Worldwide, too little iodine in the diet is the most common cause of hypothyroidism. In countries with enough iodine in the diet, the most common cause of hypothyroidism is the autoimmune condition Hashimoto's thyroiditis. Less common causes include: previous treatment with radioactive iodine, injury to the hypothalamus or the anterior pituitary gland, certain medications, a lack of a functioning thyroid at birth, or previous thyroid surgery. The diagnosis of hypothyroidism, when suspected, can be confirmed with blood tests measuring thyroid-stimulating hormone (TSH) and thyroxine levels.

Worldwide about one billion people are estimated to be iodine deficient; however, it is unknown how often this results in hypothyroidism. In the United States, hypothyroidism occurs in 0.3â€“0.4% of people.

And that is why we iodize salt.

![alt text](https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/39/ds00181_-ds00344_-ds00353_-ds00491_-ds00492_-ds00567_-ds00660_-my00709_im01872_thyroid_gif.jpg)

Background: Doctors all around the world need our help to predict whether a patient has hypothyroid disease. We have already overspent our budget to collect such complete data on about 30 attributes for 2800 patients--a good starting number, but a larger sample would certainly be preferred. Moving forward, however, we simply cannot afford to spend so much money on data collection. Therefore, we also need to determine which attributes are the most meaningful to the predictive models, and cut out the rest that don't contribute much. 

The boss wants to see a **balanced** model that can predict with a **high sensitivity** and **high specificity** while using a ***low amount of features***. Collecting complete data such as this is very rare, very time-consuming, and often very expensive. By minimizing the number of features, it will optimize future data collection by deciding what needs to be collected, and what doesn't.

## Loading the data

Let's read the data into a Pandas dataframe and look at the first 20 records.

In [3]:
#quick question should age also be a numerical response? i added it in real quick to the numbers array but feel free to remove it 
import pandas as pd

url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/ChallengeProjects/Week1/allhypo.train.data.csv"
dataset=pd.read_csv(url) 
dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
5,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
6,59,F,f,f,f,f,f,f,f,f,...,t,72,t,0.92,t,78,f,?,other,negative.|1595
7,80,F,f,f,f,f,f,f,f,f,...,t,80,t,0.7,t,115,f,?,SVI,negative.|1367
8,66,F,f,f,f,f,f,f,f,f,...,t,123,t,0.93,t,132,f,?,SVI,negative.|1787
9,68,M,f,f,f,f,f,f,f,f,...,t,83,t,0.89,t,93,f,?,SVI,negative.|2534
10,84,F,f,f,f,f,f,f,f,f,...,t,115,t,0.95,t,121,f,?,SVI,negative.|1485
11,67,F,t,f,f,f,f,f,f,f,...,t,152,t,0.99,t,153,f,?,other,negative.|3448
12,71,F,f,f,f,t,f,f,f,f,...,t,171,t,1.13,t,151,f,?,other,negative.|1027
13,59,F,f,f,f,f,f,f,f,f,...,t,97,t,0.91,t,107,f,?,SVI,negative.|3331
14,28,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,119,f,?,SVHC,negative.|2043
15,65,F,f,f,f,f,f,f,f,t,...,t,99,t,1.14,t,87,f,?,other,compensated hypothyroid.|3169
16,42,?,f,f,f,f,f,f,f,f,...,t,70,t,0.86,t,81,f,?,other,negative.|2755
17,63,F,f,f,f,f,f,f,f,f,...,t,117,t,0.96,t,121,f,?,SVI,negative.|1010
18,80,F,f,f,f,f,f,f,f,f,...,t,99,t,0.95,t,104,f,?,SVI,negative.|803
19,28,M,f,f,f,f,f,f,f,f,...,t,121,t,0.94,t,130,f,?,SVHC,negative.|2297

Great, looks like the data loaded in properly. Let's continue looking at some summary statistics on our data.

## Viewing summary statistics
The functions describe() and info() are your friends

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 29 columns):
Age                          2800 non-null object
Sex                          2800 non-null object
On thyroxine                 2800 non-null object
query on thyroxine           2800 non-null object
on antithyroid medication    2800 non-null object
sick                         2800 non-null object
pregnant                     2800 non-null object
thyroid surgery              2800 non-null object
I131 treatment               2800 non-null object
query hypothyroid            2800 non-null object
query hyperthyroid           2800 non-null object
lithium                      2800 non-null object
goitre                       2800 non-null object
tumor                        2800 non-null object
psych                        2800 non-null object
TSH measured                 2800 non-null object
TSH                          2800 non-null object
T3 measured                  2800 non-null object
T3                           2800 non-null object
TT4 measured                 2800 non-null object
TT4                          2800 non-null object
T4U measured                 2800 non-null object
T4u                          2800 non-null object
FTI measured                 2800 non-null object
FTI                          2800 non-null object
TBG measured                 2800 non-null object
TBG                          2800 non-null object
referral source              2800 non-null object
class                        2800 non-null object
dtypes: object(29)
memory usage: 634.5+ KB

Note the data types are all objects--even columns that are obviously numeric like Age.

## Data cleaning

To start, let's make all the numerical columns contain the correct type of values and change the data type of those columns to numeric. Let's also replace all those question marks with the median of the respective column.

Hint: To make it easier, first try converting all the "?" to NaN.

In [6]:
import numpy as np
dataset = dataset.replace("?", np.nan)

# The categories which have numerical responses:
numbers = ["Age","TSH", "T3", "TT4", "T4u", "FTI", "TBG"]

# Replace NaN with median:
for i in numbers:
  dataset[i].fillna(dataset[i].median(), inplace=True)
dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,NaN,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,0.98,f,107,f,NaN,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,NaN,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,0.98,f,107,f,NaN,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,NaN,SVI,negative.|2807
5,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,NaN,other,negative.|3434
6,59,F,f,f,f,f,f,f,f,f,...,t,72,t,0.92,t,78,f,NaN,other,negative.|1595
7,80,F,f,f,f,f,f,f,f,f,...,t,80,t,0.7,t,115,f,NaN,SVI,negative.|1367
8,66,F,f,f,f,f,f,f,f,f,...,t,123,t,0.93,t,132,f,NaN,SVI,negative.|1787
9,68,M,f,f,f,f,f,f,f,f,...,t,83,t,0.89,t,93,f,NaN,SVI,negative.|2534
10,84,F,f,f,f,f,f,f,f,f,...,t,115,t,0.95,t,121,f,NaN,SVI,negative.|1485
11,67,F,t,f,f,f,f,f,f,f,...,t,152,t,0.99,t,153,f,NaN,other,negative.|3448
12,71,F,f,f,f,t,f,f,f,f,...,t,171,t,1.13,t,151,f,NaN,other,negative.|1027
13,59,F,f,f,f,f,f,f,f,f,...,t,97,t,0.91,t,107,f,NaN,SVI,negative.|3331
14,28,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,119,f,NaN,SVHC,negative.|2043
15,65,F,f,f,f,f,f,f,f,t,...,t,99,t,1.14,t,87,f,NaN,other,compensated hypothyroid.|3169
16,42,NaN,f,f,f,f,f,f,f,f,...,t,70,t,0.86,t,81,f,NaN,other,negative.|2755
17,63,F,f,f,f,f,f,f,f,f,...,t,117,t,0.96,t,121,f,NaN,SVI,negative.|1010
18,80,F,f,f,f,f,f,f,f,f,...,t,99,t,0.95,t,104,f,NaN,SVI,negative.|803
19,28,M,f,f,f,f,f,f,f,f,...,t,121,t,0.94,t,130,f,NaN,SVHC,negative.|2297

Hmm, still looks like the TBG column is unfilled, implying it was empty to begin with. Let's get rid of this column, then (and make sure to get rid of it in your list of numeric columns, too!)

In [7]:
numbers = numbers[:-1]
del dataset["TBG"]
dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,referral source,class
0,41,F,f,f,f,f,f,f,f,f,...,2.5,t,125,t,1.14,t,109,f,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,2,t,102,f,0.98,f,107,f,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,2,t,109,t,0.91,t,120,f,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,1.9,t,175,f,0.98,f,107,f,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,1.2,t,61,t,0.87,t,70,f,SVI,negative.|2807
5,18,F,t,f,f,f,f,f,f,f,...,2,t,183,t,1.3,t,141,f,other,negative.|3434
6,59,F,f,f,f,f,f,f,f,f,...,2,t,72,t,0.92,t,78,f,other,negative.|1595
7,80,F,f,f,f,f,f,f,f,f,...,0.6,t,80,t,0.7,t,115,f,SVI,negative.|1367
8,66,F,f,f,f,f,f,f,f,f,...,2.2,t,123,t,0.93,t,132,f,SVI,negative.|1787
9,68,M,f,f,f,f,f,f,f,f,...,1.6,t,83,t,0.89,t,93,f,SVI,negative.|2534
10,84,F,f,f,f,f,f,f,f,f,...,2.2,t,115,t,0.95,t,121,f,SVI,negative.|1485
11,67,F,t,f,f,f,f,f,f,f,...,2,t,152,t,0.99,t,153,f,other,negative.|3448
12,71,F,f,f,f,t,f,f,f,f,...,3.8,t,171,t,1.13,t,151,f,other,negative.|1027
13,59,F,f,f,f,f,f,f,f,f,...,1.7,t,97,t,0.91,t,107,f,SVI,negative.|3331
14,28,M,f,f,f,f,f,f,f,f,...,1.8,t,109,t,0.91,t,119,f,SVHC,negative.|2043
15,65,F,f,f,f,f,f,f,f,t,...,2,t,99,t,1.14,t,87,f,other,compensated hypothyroid.|3169
16,42,NaN,f,f,f,f,f,f,f,f,...,1.8,t,70,t,0.86,t,81,f,other,negative.|2755
17,63,F,f,f,f,f,f,f,f,f,...,1.2,t,117,t,0.96,t,121,f,SVI,negative.|1010
18,80,F,f,f,f,f,f,f,f,f,...,1.6,t,99,t,0.95,t,104,f,SVI,negative.|803
19,28,M,f,f,f,f,f,f,f,f,...,2.6,t,121,t,0.94,t,130,f,SVHC,negative.|2297

All right, let's take a look now at the info of *just the numeric columns* in the dataset:

In [8]:
nums = dataset[numbers].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 6 columns):
Age    2800 non-null object
TSH    2800 non-null object
T3     2800 non-null object
TT4    2800 non-null object
T4u    2800 non-null object
FTI    2800 non-null object
dtypes: object(6)
memory usage: 131.3+ KB

Perfect, now let's fix that class feature. According to the note the data collectors included with this data, the ".|####" refers to a patient number, and is not necessarily relevant for our purposes here.

In [9]:
for i in range(dataset['class'].shape[0]):
  dataset['class'][i]=dataset['class'][i].split(".")[0]
dataset['class'].head(20)

0                    negative
1                    negative
2                    negative
3                    negative
4                    negative
5                    negative
6                    negative
7                    negative
8                    negative
9                    negative
10                   negative
11                   negative
12                   negative
13                   negative
14                   negative
15    compensated hypothyroid
16                   negative
17                   negative
18                   negative
19                   negative
Name: class, dtype: object

Let's run the describe() function on just the "class" column.

It looks like there are actually 4 unique classification variables! Thank goodness we didn't assume it was binary.

Display all the unique values in the class column.

In [11]:
dataset['class'].unique()

array(['negative', 'compensated hypothyroid', 'primary hypothyroid',
       'secondary hypothyroid'], dtype=object)

But let's make it binary for the sake of this example anyway. If you finish early later on, try the multiclass classifier with all 4 values!

In [12]:
#'negative' is replaced by the number zero. everything else gets number 1
dataset['class'] = dataset['class'].replace("negative", 0)
dataset['class'] = dataset['class'].replace(['compensated hypothyroid', 'primary hypothyroid',  'secondary hypothyroid'], 1)
dataset['class'].head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    1
16    0
17    0
18    0
19    0
Name: class, dtype: int64

Before we move on, let's not forget to run the describe() function on just  your categorical columns, too.
Compare it to the describe() that your numeric columns produce.

In [13]:
words = dataset.copy().drop(["Age","TSH","T3", "TT4", "T4u", "FTI", "class"], axis = 1)
#age and class are now numeric features we forgot the first time
words.describe()

,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,...,goitre,tumor,psych,TSH measured,T3 measured,TT4 measured,T4U measured,FTI measured,TBG measured,referral source
count,2690,2800,2800,2800,2800,2800,2800,2800,2800,2800,...,2800,2800,2800,2800,2800,2800,2800,2800,2800,2800
unique,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,5
top,F,f,f,f,f,f,f,f,f,f,...,f,f,f,t,t,t,t,t,f,other
freq,1830,2470,2760,2766,2690,2759,2761,2752,2637,2627,...,2775,2729,2665,2516,2215,2616,2503,2505,2800,1632

Great! Let's see if there's any other records we have to address. count() is a nice way to check if we have any other missing values.

In [14]:
dataset.count()

Age                          2800
Sex                          2690
On thyroxine                 2800
query on thyroxine           2800
on antithyroid medication    2800
sick                         2800
pregnant                     2800
thyroid surgery              2800
I131 treatment               2800
query hypothyroid            2800
query hyperthyroid           2800
lithium                      2800
goitre                       2800
tumor                        2800
psych                        2800
TSH measured                 2800
TSH                          2800
T3 measured                  2800
T3                           2800
TT4 measured                 2800
TT4                          2800
T4U measured                 2800
T4u                          2800
FTI measured                 2800
FTI                          2800
TBG measured                 2800
referral source              2800
class                        2800
dtype: int64

We could replace the missing values in proportion to the current number of males and females over the total, but that is making an assumption we don't have to make. For now, let's simply cut the records of all these sexless people out of our data.

In [15]:
dataset = dataset.dropna(subset=['Sex', 'Age'])
dataset.count()
#we dropped one person who did not report their age to avoid any further discrepancies in the dataset.

Age                          2690
Sex                          2690
On thyroxine                 2690
query on thyroxine           2690
on antithyroid medication    2690
sick                         2690
pregnant                     2690
thyroid surgery              2690
I131 treatment               2690
query hypothyroid            2690
query hyperthyroid           2690
lithium                      2690
goitre                       2690
tumor                        2690
psych                        2690
TSH measured                 2690
TSH                          2690
T3 measured                  2690
T3                           2690
TT4 measured                 2690
TT4                          2690
T4U measured                 2690
T4u                          2690
FTI measured                 2690
FTI                          2690
TBG measured                 2690
referral source              2690
class                        2690
dtype: int64

Nice! Now we have a pretty clean dataset to work with. Let's now do some further data analysis and visualization to better understand what we're working with.

## Data analysis and visualization

Check the correlation

In [16]:
dataset.corr()

       class
class    1.0

Convert the class feature to numeric so we can also see the correlations it has with the numeric features, and check the correlation again.

In [17]:
# Convert things to numbers
for i in numbers:
  dataset[i] = dataset[i].astype(float)

dataset.corr()

            Age       TSH        T3       TT4       T4u       FTI     class
Age    1.000000 -0.033569 -0.224286 -0.050343 -0.155124  0.040092 -0.008215
TSH   -0.033569  1.000000 -0.155681 -0.259671  0.066218 -0.295188  0.441618
T3    -0.224286 -0.155681  1.000000  0.514505  0.424036  0.312070 -0.167724
TT4   -0.050343 -0.259671  0.514505  1.000000  0.431904  0.781832 -0.268986
T4u   -0.155124  0.066218  0.424036  0.431904  1.000000 -0.167147  0.031880
FTI    0.040092 -0.295188  0.312070  0.781832 -0.167147  1.000000 -0.292745
class -0.008215  0.441618 -0.167724 -0.268986  0.031880 -0.292745  1.000000

Let's do some further visual analysis using a new module called seaborn. Explore its incredible versatility and diversity with data visualization here: https://seaborn.pydata.org/

In [18]:
import seaborn as sns
sns.pairplot(dataset)

In [19]:
# looks like there's an outlier (age = 400+) gonna remove it
dataset = dataset.loc[dataset["Age"]<100]

OK! I think we're ready to create and select some supervised learning models. To get the ball rolling, select Age and Sex as our explanatory features (and class as the target feature, obviously).

In [20]:
explanatory = ['Age', 'Sex']
target = ['class']

## Model training and selection

Let's use get_dummies on the categorical variables (but not the class value!) to view the column names to select some for our model.

In [30]:
dataset1 = pd.get_dummies(data=dataset, columns=numbers)
dataset1.count()

Sex                          2689
On thyroxine                 2689
query on thyroxine           2689
on antithyroid medication    2689
sick                         2689
pregnant                     2689
thyroid surgery              2689
I131 treatment               2689
query hypothyroid            2689
query hyperthyroid           2689
lithium                      2689
goitre                       2689
tumor                        2689
psych                        2689
TSH measured                 2689
T3 measured                  2689
TT4 measured                 2689
T4U measured                 2689
FTI measured                 2689
TBG measured                 2689
referral source              2689
class                        2689
Age_1.0                      2689
Age_2.0                      2689
Age_4.0                      2689
Age_5.0                      2689
Age_6.0                      2689
Age_7.0                      2689
Age_8.0                      2689
Age_10.0                     2689
                             ...
FTI_205.0                    2689
FTI_206.0                    2689
FTI_207.0                    2689
FTI_209.0                    2689
FTI_210.0                    2689
FTI_214.0                    2689
FTI_215.0                    2689
FTI_216.0                    2689
FTI_217.0                    2689
FTI_218.0                    2689
FTI_219.0                    2689
FTI_220.0                    2689
FTI_221.0                    2689
FTI_222.0                    2689
FTI_223.0                    2689
FTI_224.0                    2689
FTI_228.0                    2689
FTI_232.0                    2689
FTI_235.0                    2689
FTI_237.0                    2689
FTI_242.0                    2689
FTI_244.0                    2689
FTI_247.0                    2689
FTI_251.0                    2689
FTI_253.0                    2689
FTI_274.0                    2689
FTI_281.0                    2689
FTI_312.0                    2689
FTI_349.0                    2689
FTI_395.0                    2689
Length: 991, dtype: int64

All right, let's now split our data into training and testing in an 80-20 split. For consistency, let's all use a seed of 8675309.

For reusability, let's make a logistic regression function that will take our training and testing data as arguments. Inside the function, build a model on your training data, fit it with your training class data, and return a list of your predictions.

In [38]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

cols = list(dataset.columns.values)
x_cols1 = cols.remove("class")
X_train1, X_val1, y_train1, y_val1 = train_test_split(dataset[x_cols1], dataset['class'], test_size=0.2, random_state=8675309)

decision_tree_gini = DecisionTreeClassifier(criterion = "gini", random_state = 8675309,
                              max_depth=10, min_samples_leaf=10)  # minimum sample leafs is the minimum sample 
decision_tree_gini.fit(X_train, y_train)

KeyError: None

In [ ]:
#printing accuracy of testing & training data
y_train_pred=decision_tree_gini.predict(X_train)
print("Training Accuracy is ", accuracy_score(y_train, y_train_pred)*100)
y_val_pred=decision_tree_gini.predict(X_val)
print("Validation Accuracy is ", accuracy_score(y_val,y_val_pred)*100)

Fantastic, we have just built a logistic regression model! Let's go see how well it performs.

### Model evaluation

To start, let's establish the baseline performance. This is important because it provides a starting point of comparison for later evaluation methods, like accuracy.

A good baseline model to use is the Zero Rule algorithm. In classification problems, it simply predicts the class value with the greatest number of instances every time.

In [ ]:
def zero_rule_algorithm_classification(train,test):
  mode = train.mode()
  return [mode for i in test ]

Get your baseline performance by calculating the accuracy of your Zero Rule algorithm.

In [ ]:
from sklearn.metrics import accuracy_score

y_train_pred=zero_rule_algorithm_classification(y_train, y_train)

print("Training Accuracy is ", accuracy_score(y_train, y_train_pred)*100)
y_val_pred=zero_rule_algorithm_classification(y_train, y_val)

print("Validation Accuracy is ", accuracy_score(y_val,y_val_pred)*100)

Training Accuracy is  91.91073919107392
Validation Accuracy is  93.12267657992564

So maybe accuracy isn't the best performance measure for this dataset. As you've seen already, even when the models predict "negative" for all the records, we could already achieve a ~92% accuracy. However, that also implies we incorrectly predicted 100% of the positive cases, which in the context of this problem, is fatal.

Thankfully, it isn't the only way to evaluate your model. Let's start by creating a confusion matrix using the logistic regression function you built earlier.

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn import metrics

labels = [0,1]
cm = metrics.confusion_matrix(y_val, y_val_pred , labels)
#cm = metrics.confusion_matrix(y_train, y_train_pred , labels)

print(cm)

[[501   0]
 [ 37   0]]

In [1]:
#age is a numerical value
from itertools import combinations 

def subsets(arr, r):
  return list(combinations(arr,r))

allPairs = subsets(numbers, 2)

allPairs


#one = np.array(allPairs[0])

NameError: name 'numbers' is not defined

Hopefully you remember our discussion of the Area Under the Receiver Operator Curve metric. This can measure the accuracy of a test to discriminate diseased cases from normal cases.

When you consider the results of a particular test in two populations, one population with a disease, the other population without the disease, you will rarely observe a perfect separation between the two groups. Hence, the overlapping areas in the diagram below (FN, FP).

To review, on a Receiver Operating Characteristic (ROC) curve, the true positive rate is plotted in function of the false positive rate for different cut-off points. Each point on the ROC curve represents a sensitivity/specificity pair corresponding to a particular decision threshold. A test with perfect discrimination (no overlap in the two distributions) has a ROC curve that passes through the upper left corner. Therefore the closer the ROC curve is to the upper left corner, the higher the overall accuracy of the test.

![alt text](https://www.medcalc.org/manual/_help/images/roc_intro1.png)

Now, to graph the AUROC curve, we will need to predict probabilities of choosing a specific class value rather than the class value itself. Make a new logistic regression model that does so.

In [ ]:
from sklearn.linear_model import LogisticRegression

### Your code here

Now calculate the area under the receiver operator curve with your predictions.

In [ ]:
from sklearn import metrics

### Your code here

Now graph the ROC curve using matplotlib, fully labeled.

In [ ]:
import matplotlib.pyplot as plt
### Your code here

In conclusion, it looks like this model performed pretty bad. It's probably best to try out different columns or perhaps use a different model before we submit our model for scoring. Get creative!

In [ ]:
## Your code here

## Submitting your Model

Once you believe to have found the best classifier, run your classifier on the test data and make a pickle file containing of your predictions contained a pandas dataframe.

This pandas dataframe will contain three columns for your binary classifier (or 5 columns for the multiclass classifier): the first column should be your model's "best guess" for each patient (either 0 or 1, negative or positive) and the last two columns should be the probability the patient would be classified as either a 0 or 1.

(see below for reference)

In [ ]:
#pickling example
import pickle
predictions=po.DataFrame({"guesses":[0,1,0,1],"prob_neg":[.75,.15,.63,.20],"prob_pos":[.25,.85,.27,.80]})
prediction_pickle_path = 'prediction_pickle.pkl'

from google.colab import files
# Create an variable to pickle and open it in write mode
prediction_pickle = open(prediction_pickle_path, 'wb')
pickle.dump(predictions, prediction_pickle)
files.download(prediction_pickle_path)
prediction_pickle.close()

NameError: ignored

In [ ]:
prediction_unpickle = open(prediction_pickle_path, 'rb')
 
# load the unpickle object into a variable
predictions = pickle.load(prediction_unpickle)
 
print(predictions)

We will compare your guesses with the true classifications to score your model using the AUC metric.

## Presenting your Model

Finally, we would like you to be able to present your model to the class. Prepare a notebook with the following things:

* **Features Chosen:** a list of the features used in your model, and an explanation of how you chose them.
* **Type of Model:** an explanation of the model type, parameters used, and why.
* **Evaluation:** at least one plot showing an evaluation of your model against a validation set. You can use a confusion matrix, AUROC, or another metric of your choice.

Feel free to include one or two additional plots that describe your process and/or model if you think that would be helpful.

## Moving to the Next Level

For those that finish early, remember how we converted the class values into the binary of "negative" and "positive"? Now try tackling the multiclass classifier (predicting the different types of positive hypothyroid cases instead of simply negative or positive)! 

The same rules apply!